@font-face {
    font-family: 'under';
    src: url(../font/MonsterFriendBack.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'under2';
    src: url(../font/MonsterFriendFore.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texto';
    src: url(../font/PixelOperatorSC-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}